<% content_for :main_class do %>min-h-screen bg-gray-50<% end %>
<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-van-cleef">Create account</h2>
    <%= form_with model: @account, url: accounts_path, class: "mt-8 space-y-6" do |f| %>
      <div class="space-y-4">
        <div>
          <%= f.label :email, class: 'block text-sm font-medium text-gray-700' %>
          <%= f.email_field :email, required: true, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-christi focus:ring-christi sm:text-sm' %>
        </div>
        <div>
          <%= label_tag :password, 'Password', class: 'block text-sm font-medium text-gray-700' %>
          <%= password_field_tag 'account[password]', nil, required: true, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-christi focus:ring-christi sm:text-sm' %>
        </div>
        <div>
          <%= label_tag :password_confirmation, 'Confirm password', class: 'block text-sm font-medium text-gray-700' %>
          <%= password_field_tag 'account[password_confirmation]', nil, required: true, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-christi focus:ring-christi sm:text-sm' %>
        </div>
      </div>
      <div>
        <%= f.submit 'Create account', class: 'group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-christi hover:bg-bright-green focus:outline-none' %>
      </div>
    <% end %>
    <div class="text-center">
      <%= link_to 'Have an account? Sign in', new_session_path, class: 'text-christi hover:text-bright-green' %>
    </div>
  </div>
</div>
